RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes vers le dossier Kanap/front/html/
RewriteRule ^(.*)$ Kanap/front/html/$1 [L]

# Rediriger les requêtes vers le dossier "back"
RewriteRule ^api/(.*)$ back/$1 [L]

# Rediriger les requêtes vers le dossier "front"
RewriteRule ^(.*)$ front/$1 [L]
